@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: #000000;
  color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 10px;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  font-weight: bold;
}
.header .navbar .nav-logo {
  font-size: 2.8rem;
  font-weight: 500;
  color: #ffffff;
}
.header .navbar .nav-logo .brand-sub {
  color: #9515f7;
}
.header .navbar .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar .nav-menu .nav-item {
  margin-left: 5rem;
}
.header .navbar .nav-menu .nav-item .nav-link {
  font-size: 1.85rem;
  font-weight: 400;
  color: #ffffff;
  transition: 300ms ease-out;
}
.header .navbar .nav-menu .nav-item .nav-link:hover {
  letter-spacing: 0.12rem;
  font-weight: 600;
}
.header .navbar .hamburger {
  display: none;
}
.header .navbar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.container {
  width: clamp(300px, 80vw, 1200px);
  margin: 0 auto;
}

section {
  padding: 10em 4em;
}


@media only screen and (max-width: 800px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #000000;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .header {
    width: 100vw;
    position: fixed;
    display: flex;
    background-color: black;
  }
  .header nav {
    width: 100%;
    justify-self: space-between;
  }

  .active {
    left: 0;
  }

  .nav-item {
    margin: 3.5rem 10rem;
  }

  .hamburger {
    display: block !important;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

